
@{
    ViewBag.Title = "Feature";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


    


<h3>Öne Çıkan </h3>
<hr />
<br />

<div>

    <div class="mt-3">

        <label>Fotoğraf</label>
        <br />
        <img width="250" src="@ViewBag.featureImageUrl" />

    </div>

    <div class="mt-3">

        <label>Başlık</label>
        <input type="text" disabled class="form-control" value="@ViewBag.featureTitle" />
    </div>

    <div class="mt-3">

        <label>İşim</label>
        <input type="text" disabled class="form-control" value="@ViewBag.featureIJobs" />

    </div>



    <div class="mt-3">

        <label>Açıklama</label>
        <textarea disabled rows="6" class="form-control">@ViewBag.featureDescription</textarea>

    </div>




    <br />
    <a class="btn btn-warning" href="/Admin/EditFeature/">Güncelle</a>


</div>


