@using Casgem_Portfolio.Models.Entities
@model List<TblSocialMedia>

@{
    ViewBag.Title = "SocialMedia";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<h3>Sosyal Medya Listesi</h3>
<hr />
<a href="/Admin/AddSocialMedia/" class="btn btn-success">Sosyal Medya Ekle</a>
<br />
<br />
<table class="table table-striped">

    <tr>
        <th>#</th>
        <th>Sosyal Medya Adı</th>
        <th>Kullanıcı Url</th>
        <th></th>
        <th></th>
    </tr>

    @{ int a = 1;}
    @foreach (var i in Model)
    {

        <tr>
            <td>@a</td>
            <td>@i.SocialMediaName</td>
            <td>@i.SocialMediaUrl</td>
            <td>
                <a href="/Admin/DeleteSocialMedia/@i.SocialMediaId" class="btn btn-danger">Sil</a>
            </td>
            <td>
                <a href="/Admin/EditSocialMedia/@i.SocialMediaId" class="btn btn-warning">Güncelle</a>
            </td>

        </tr>
        a++;


    }

</table>



