
@{
    Layout = null;
}


<form method="post">
    <input type="text" name="AdminUserName"/>
    <input type="text" name="AdminPasword"/>

    <input type="submit" value="Giriş Yap" />
</form>