@model  List<Casgem_Portfolio.Models.Entities.TblResume>


@foreach (var i in Model)
{
    <!-- home page second section -->
    <div class="py-5 w3l-resume">
        <div class="container py-lg-5 py-3">
            <h5 class="title-small mb-2"> @i.ResumeTitle1</h5>
            <h3 class="title-big mb-4">@i.ResumeTitle2</h3>
            <p style="text-align:justify">
                @i.ResumeDescription
            </p>
            <div class="mt-5">
                <a href="~/cv.txt" download="cv" class="btn btn-style btn-primary">İndir</a>
            </div>
        </div>
    </div>
    <!-- //home page second section -->


}

