

@{
    ViewBag.Title = "AddService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Proje Ekle</h3>
<hr />

<form method="post" action="/Project/AddProject/">

    <div class="mt-3">
        <label>Proje Adı</label>
        <input type="text" required name="ProjectName" class="form-control" placeholder="Proje Adı" />

    </div>

    <div class="mt-3">
        <label>Açıklama</label>
        <textarea name="ProjectDescription" required class="form-control" placeholder="Açıklama" rows="6"></textarea>
    </div>

    <div class="mt-3">
        <label>Proje Url</label>
        <input type="text" required name="ProjectUrl" class="form-control" placeholder="Proje url" />

    </div>

    <br />

    <div>
        <a href="/Project/Index/" class="btn btn-danger">İptal</a>
        <input type="submit" class="btn btn-success" value="Kaydet" />
    </div>

</form>

