
@{
    ViewBag.Title = "DeparmentList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Departman Listesi</h2>

<table class="table table-striped">

    <tr>
        <th>#</th>
        <th>Adı</th>
        <th>Durumu</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Bilişim</td>
        <td>Aktif</td>
    </tr>

    <tr>
        <td>2</td>
        <td>Bilişim</td>
        <td>Aktif</td>
    </tr>

    <tr>
        <td>3</td>
        <td>Bilişim</td>
        <td>Aktif</td>
    </tr>



    <tr>
        <td>4</td>
        <td>Bilişim</td>
        <td>Aktif</td>
    </tr>
</table>
