
@{
    Layout = null;
}

<!doctype html>
<html lang="tr">
<head>
    <title>Admin Yömetim Paneli</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Templates/Admin/css/style.css">
</head>
<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <a href="#" class="img logo rounded-circle mb-5"
                   style="
                    width:150px;
                    background-image: url(/Templates/Admin/images/logo.png);"></a>
                <ul class="list-unstyled components mb-5">
                    @*<li class="text-center">Budotekno</li>*@

                    <li class="active">
                        <a href="/Admin/Feature/">Öne Çıkan</a>
                    </li>

                    <li>
                        <a href="/Admin/WhoAmI//">Ben Kimim</a>
                    </li>


                    <li>
                        <a href="/Service/Index/">Hizmelerim</a>
                    </li>

                    <li>
                        <a href="/Statistic/Index/">İstatistikler</a>
                    </li>

                    <li>
                        <a href="/Reference/Index/">Referanslarım</a>
                    </li>

                    <li>
                        <a href="/Project/Index/">Projelerim</a>
                    </li>


                    <li>
                        <a href="/Admin/Contact/">İletişim</a>
                    </li>

                    <li>
                        <a href="/Message/Index/">Mesajlar</a>
                    </li>

                    <li>
                        <a href="/Admin/SocialMedia/" >Sosyal Medya</a>
                    </li>
                    <li>
                        <a href="/Admin/AdminList/" target="_blank">Kullanıcı</a>
                    </li>



                    <li>
                        <a href="/Portfolio/Index/" target="_blank">Siteye Git</a>
                    </li>


                    <li>
                        <a href="#">Çıkış Yap</a>
                    </li>







                </ul>

                <div class="footer">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır.  <i class="icon-heart" aria-hidden="true"></i> Coder <a href="https://linktr.ee/budotekno" target="_blank">Budotekno</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>

            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                   
                 <span style="margin-left:10px" >Budotekno</span>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" target="_blank" href="/Portfolio/Index/">Siteye Git</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Cv'mi İndir</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Statistic/Index/">İstatistikler</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Message/Index/">Mesajlar</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">Çıkış Yap</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            @RenderBody()

        </div>
    </div>

    <script src="~/Templates/Admin/js/jquery.min.js"></script>
    <script src="~/Templates/Admin/js/popper.js"></script>
    <script src="~/Templates/Admin/js/bootstrap.min.js"></script>
    <script src="~/Templates/Admin/js/main.js"></script>
</body>
</html>